{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Adopt a Pet</h1>
<a href="/add">
    <button>Add Pet for Adoption</button>
</a>
{% for pet in pets %}
<div>
    <h2>{{pet.name}}</h2>
    {% if pet.available == True%}
    <p>
        <strong>
            Available
        </strong>
    </p>
    {% else %}
    <p>
        Not Available
    </p>
    {% endif %}
    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}" alt="{{pet.name}} Photo">
    {% endif %}
</div>
{% endfor %}
{% endblock %}